.title {
    color: black;
  }
  
  .red {
    color: red;
  }
.image {
    width: 360px;
     height: 315px;
  }  
h4 {
  color: blueviolet;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}